.auth-page {
  background-color: #0f0f1a;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.auth-card {
  background-color: #1a1a2e;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  border: 1px solid #22223b;
  box-shadow: 0px 0px 12px rgba(128, 0, 128, 0.3);
}

.auth-title {
  color: purple;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

.auth-label {
  color: #cfcfcf;
}

.auth-input {
  background-color: #2a2a3d;   /* Dark input background */
  border: 1px solid #2d2d44;
  color: white;                /* Text visible */
}

.auth-input::placeholder {
  color: #c5c5c5;
}

.auth-input:focus {
  border-color: purple;
  box-shadow: 0 0 8px purple;
  background-color: #33334d;
}


.auth-input:focus {
  border-color: purple;
  box-shadow: 0 0 8px purple;
}

.auth-btn {
  background-color: purple;
  width: 100%;
  border: none;
  font-weight: 600;
  margin-top: 10px;
}

.auth-btn:hover {
  background-color: #009ec2;
}

.auth-footer {
  text-align: center;
  margin-top: 15px;
  color: #cfcfcf;
}

.auth-footer a {
  color: purple;
  text-decoration: none;
}

.auth-footer a:hover {
  text-decoration: underline;
}
