.courses-section {
  background-color: #0f0f1a;
  padding: 60px 0;
  min-height: 100vh;
}

.course-title {
  color: purple;
  font-weight: bold;
  margin-bottom: 30px;
}

.highlight {
  color: white;
}

.course-card {
  background-color: white;
  border: 1px solid #22223b;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.3s ease;
  height: 100%;
}

.course-card:hover {
  transform: translateY(-5px);
  border-color: purple;
  box-shadow: 0px 0px 12px purple;
}

/* =======================
   IMAGE STYLE
======================= */
.course-img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}

/* =======================
   CONTENT
======================= */
.course-name {
  color: purple;
  font-weight: bold;
  font-size: 1.2rem;
}

.course-desc {
  color: black;
  font-size: 0.9rem;
}

.course-price {
  color: black;
  margin-top: 10px;
}

/* =======================
   BUTTON
======================= */
.course-btn {
  background-color: purple;
  border: none;
  width: 100%;
  font-weight: 600;
  margin-top: 10px;
}

.course-btn:hover {
  background-color: #009ec2;
}

/* =======================
   MODAL IMAGE
======================= */
.modal-img {
  width: 100%;
  border-radius: 10px;
  height: 250px;
  object-fit: cover;
}
